.input {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    margin-right: 5px;
}

.button {
    width: 100px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: white;
}