:root {
  --primary-color: rgb(41, 131, 56);
  --header-color: rgb(32, 102, 44);
  --border-radius: 10px;
  --font-family: Verdana
}

header{
    background-color: var(--header-color);
    font-family: var(--font-family);
    height: 100px;
}

.wrapper{
    display: block;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    padding: 20px;
}